.git/
.github/
docker-cam/
.next/
.eslintrc.json
.gitignore
renovate.json
release.config.json
.env
*.md 
*.db*
**/*.DS_Store
LICENSE
.gitignore
.docker-compose.yml
coverage/
cypress/
dev/
node_modules/
recordings/
screenshots/
.dockerignore
Dockerfile
cypress.config.js
