BACKEND_SERVER_MEDIAMTX_URL=http://127.0.0.1
MEDIAMTX_API_PORT=9997
REMOTE_MEDIAMTX_URL=http://localhost
MEDIAMTX_RECORDINGS_DIR=./test-data/recordings
MEDIAMTX_SCREENSHOTS_DIR=./test-data/screenshots
DATA_DIR=./test-data/data
LOG_LEVEL=info
