version: "3.4"
services:
  mediamtx:
    image: bluenviron/mediamtx:1.2.1@sha256:e2b16b0a1bced9fd35d8dc396bc64358b2ee92e0f8c0e86816ee3ca0255673d8
    container_name: mediamtx
    restart: unless-stopped
    volumes:
      - type: bind
        source: ${MEDIAMTX_CONFIG_DIR}/mediamtx.yml
        target: /mediamtx.yml
      - ${MEDIAMTX_RECORDINGS_DIR}:/recordings
    ports:
      - 8554:8554
      - 8890:8890/udp 
      - 1935:1935
      - 8888:8888
      - 8889:8889
      - 9997:9997