name: "CI"

on:
  push:
    branches: [main, beta]
  pull_request:
    branches: [main, beta]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: write

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
      - name: Install dependencies (without Cypress binary)
        run: npm ci
        env:
          CYPRESS_INSTALL_BINARY: 0
      - name: Build
        run: npm run build
      - name: Migrate
        run: npm run migrate
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm run dev
          wait-on: "http://localhost:3000"
          browser: chrome
          spec: cypress/e2e/**/*.cy.js
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          # DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          # DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: npm run release
